@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <span style="color:red">First Program</span>
        </div>
    </div>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Benvenuto nel primo tutorial di ASP MVC</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <button class="btn btn-danger">Clicca qui</button>
    <p>sksdjajd</p>

</div>
